/*---------------------------------------------------BODY--*/
#bodyAccueil {
background-image: url("/static/accueil2.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Lucida Console;
}
#bodyDate {
background-image: url("/static/date.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Lucida Console;
}
#bodyMois {
background-image: url("/static/mois.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Lucida Console;
}
#bodyMatricule {
background-image: url("/static/sommaireMois.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Lucida Console;
}
#bodyErratum {
background-image: url("/static/erratum.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
font-family: Lucida Console;
}
#logo {
font-size: 12px;
font-style: bold;
margin-top: 140px;
font-family: Arial;
margin-left: 218px;
background-attachment: fixed;
}
#matricule {
position: absolute;
top: 190px;
left: 228px;
width: 160px;
}
deconnexion {
position: absolute;
padding-top: 100px;
left: 228px;
width: 160px;
}
/*---------------------------------------------------FORMS--*/
#form {
margin-top: 80px;
}
#form2 {
margin-top: 80px;
margin-left: 235px;
}
#form3 {
position: absolute;
top: 460px;
left: 480px;
margin-top: 5px;
}
#idForm {
position: absolute;
top: 400px;
height: 200px;
width: 400px;
margin-top:50px;
margin-left: 300px;
}
#placeholder {
width: 100px;
margin-top: 20px;
}
/*---------------------------------------------------TABLES--*/
#tableStyle {
position: absolute;
top: 190px;
margin-top: 40px;
margin-left: 235px;
padding-bottom: 235px;
}
#tableStyle2 {
margin-top: 140px;
margin-left: 225px;
}
#tableMatricule {
height: 200px;
overflow: scroll;
margin-top: 120px;
margin-left: 255px;
}
#calendar {
display: inline;
list-style-type: none;
padding-right: 20px;
}
#tdDate {
width: 140px;
text-align: center;
}
#tableSections {
position: absolute;
left: 955px;
top: 190px;
}
/*---------------------------------------------------BUTTONS--*/
#buttonL {
position: absolute;
margin-left: 200px;
margin-top: -20px;
}
#buttonR {
position: absolute;
margin-left: 270px;
margin-top: -20px;
}
#ajouter {
font-size: 14px;
width: 100px;
margin-top: 20px;
}

/*---------------------------------------------------TITLES--*/
h1 {
width: 400px;
margin-top: -60px;
margin-left: 250px;
color: #00519c;
font: 400 70px/0.8 'Cookie', Helvetica, sans-serif;
}
h2 {
margin-top:120px;
margin-left: 300px;
color: white;
font-size: 26px;
text-decoration: underline;
font: 400 45px/0.8 'Cookie', Helvetica, sans-serif;
} 
h3 {
color: white;
font-size: 26px;
font: 400 35px/0.8 'Cookie', Helvetica, sans-serif;
text-decoration: underline;
}    
h4 {
color: #b3b3b3;
margin-top: -10px;
font-size: 14px;
}
/*---------------------------------------------------LINKS--*/
a {
color: #0096e8;
}
#links {
position: absolute;
left: 100px;
top: 700px;
color: #00519c;
font-size: 14px;
}
#verticalText {
transform: rotate(90deg);
transform-origin: left top 0;
padding: 76px;
color: #0096e8;
font-size: 14px;
font-family: Arial;
}
/*---------------------------------------------------MESSAGES--*/
#erreur {
top: 700px;
color: #0096e8;
font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;
}
#erreurDateDuJour {
top: 44
0px;
left: 480px;
position: absolute;
color: #0096e8;
font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;
}
#erreurAccueil {
position: absolute;
top: 110px;
color: #0096e8;
font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;
}
#erratum {
color: #0096e8;
font: 400 25px/0.8 'Cookie', Helvetica, sans-serif;
}
#erratum404 {
color: #0096e8;
font: 400 50px/0.8 'Cookie', Helvetica, sans-serif;
}
#exemple {
margin-top: -20px;
color: #FFFF00;
font-style: italic;
font-size: 14px;
white-space: pre-wrap;
margin-left: 300px;
}
/*---------------------------------------------------LISTS--*/
#listNoDots {
list-style-type: none;
}
#list {
margin-top: 100px;
padding-top: 40px;
color: #00519c;
font: 400 25px/0.8 'Cookie', Helvetica, sans-serif;
}
#listMatricule {
position: absolute;
top: 200px;
margin-top: 120px;
padding-top: 40px;

}
#listOfDates {
text-align: left;
float: left;
margin-left: -20px;
font-size: 12px;
height: 230px;
overflow-y: scroll;
}
#listInfos {
color: #0096e8;
}
#listMonth {
text-align: left;
float: left;
margin-left: -20px;
vertical-align: top;
font-size: 12px;
}
#listDay {
padding-top: -100px;
}
#infos {
padding-bottom: 5px;
color: #0096e8;
font: 400 25px/0.8 'Cookie', Helvetica, sans-serif;
}
/*---------------------------------------------------CALENDAR--*/
#date {
text-align: left;
padding-top: 5px;
padding-right: 17px;
color: #0096e8;
font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;
}
#monthMatricule {
position: absolute;
top: 80px;
left: 250px;
padding-top: 140px;
margin-left: 240px;
text-align: left;
padding-bottom: -20px;
}
#month {
position: absolute;
top: 80px;
padding-top: 140px;
margin-left: 260px;
text-align: left;
padding-bottom: -20px;
}
#jour {
padding-right: 15px;
padding-bottom: 20px;
padding-top: -20px;
color: #00519c;
font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;
}
#hour {
text-align: center;
padding-right: 17px;
color: white;
font: 400 20px/0.8 'Cookie', Helvetica, sans-serif;
}
#total {
position: absolute;
top: -20px;
left: 40px;
width: 160px;
color: #00519c;
font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;
}
#totalTable {
position: absolute;
left: 640px;
top: 740px;
}
#chiffre {
text-align: center;
padding-right: 17px;
color: #0096e8;
font: 400 30px/0.8 'Cookie', Helvetica, sans-serif;
}