<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Feuille de temps - Accueil</title>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/logo2.png" />
</head>

<body id="bodyAccueil">
    <div id="logo" alt="logo Code3">
        Coopérative de solidarité
        </dv>
        <div>
            <h1>Feuille de temps</h1>
        </div>
        <div>
            <h2>Identification</h2>
        </div>
        <div id="exemple">Veuillez entrer votre matricule &#10; Ex.: BEA-81
        </div>
        <div id="idForm">
            <form action="/send" name="leFormulaire" method="post">
                <br>
                <textarea name="matriculeText" placeholder="matricule"></textarea>
                </br>
                <br>
                <input type="submit" value="envoyer">
                </br>
                <div id="erreurAccueil">{{ erreur }}</div>
            </form>
        </div>
</body>

</html>