<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title name='date_du_jour'>Feuille de temps - Date</title>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/logo2.png" />
</head>

<body id="bodyDate">
    <div id="logo">Coopérative de solidarité</dv>
        <div>
            <h1>Feuille de temps</h1>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <a id='matricule' href="/{{matricule}}">matricule : #{{ matricule }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a id='deconnexion' href="/">déconnexion</a>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table id="tableStyle">
                <tr>
                    <td>
                        <a href="/{{matricule}}/{{date_du_jour}}/reculer">
                            <img src="/static/flecheG.png" title="Jour précédent"/></a>
                    </td>
                    <td id='tdDate'>
                        <h3>{{ date_du_jour }}</h3>
                    </td>
                    <td>
                        <a href="/{{matricule}}/{{date_du_jour}}/avancer">
                            <img src="/static/flecheD.png" title="Jour suivant"/></a>
                    </td>
                </tr>
                <tr>
                    <td id="list">
                        <ul id="listDay">
                            {% for infos in hours %}
                            <li id="infos" stlye="text-align:left"> {{ infos[2] }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td id="list">
                        <ul id="listNoDots">
                            {% for infos in hours %}
                            <li id="infos">{{ infos[4] }} h </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td id="list">{{total}}</td>
                </tr>
            </table>
        </div>
        <div>
            <table id="form3">
                <tr>
                    <td colspan="3">
                        <form id="form" method="post">
                            <tr>
                                <td>
                                    <textarea id="placeholder" name="code_de_projet" placeholder="code de projet"></textarea>
                                </td>
                                <td>
                                    <textarea id="placeholder" name="nb_heures" placeholder="nombre d'heures"></textarea>
                                </td>
                                <td>
                                    <input id="ajouter" type="submit" formaction="/{{matricule}}/{{date_du_jour}}/ajouter" value="Ajouter" />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="submit" formaction='/{{matricule}}/{{date_du_jour}}/modifier' value="Modifier    " />
                                </td>
                            </tr>
                            <tr>
                                <td id="erreur" colspan=2>{{erreur}}</td>
                                <td>
                                    <input type="submit" formaction="/{{matricule}}/{{date_du_jour}}/supprimer" value="Supprimer" />
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px" id="erreur" colspan="3">{{erreur2}}</td>
                            </tr>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div id="erreurDateDuJour" style="text-align:center">{{erreur3}}</div>
        <div id="tableSections">
            <table>
                <tr>
                    <td id="verticalText">
                        <a href="/{{matricule}}/{{date_du_jour}}">journalier</a>
                    </td>
                </tr>
                <tr>
                    <td id="verticalText">
                        <a href="/{{matricule}}/overview/{{date_du_jour[0:7]}}">mensuel</a>
                    </td>
                </tr>
                <tr>
                    <td id="verticalText">
                        <a href="/{{matricule}}">sommaire</a>
                    </td>
                </tr>
            </table>
        </div>
</body>

</html>