<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title name='date_du_jour'>Feuille de temps - Matricule</title>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/logo2.png" />
</head>

<body id="bodyMatricule">
    <div id="logo">
        Coopérative de solidarité</dv>
        <div>
            <h1>Feuille de temps</h1>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <a id='deconnexion' href="/">déconnexion</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td id='date' colspan=5>
                        <h3 id='monthMatricule'>Sommaire des mois travaillés</h3>
                    </td>
                    <td id='chiffre'> </td>
                    <td id='chiffre'> </td>
                </tr>
            </table>
        </div>
        <div>
            <table id="tableMatricule">
                <tr>
                    <td id="listMatricule">
                        <ul id="listOfDates">
                            {% for infos in months %}
                            <li id='date' stlye="text-align:left">
                                <a id="listInfos" href="/{{ matricule }}/overview/{{infos}}"> {{ infos }} </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tableSections">
            <table>
                <tr>
                    <td id="verticalText">
                        <a href="/{{matricule}}/{{ months[0]}}-01">journalier</a>
                    </td>
                </tr>
                <tr>
                    <td id="verticalText">
                        <a href="/{{ matricule }}/overview/{{ months[0]}}">mensuel</a>
                    </td>
                </tr>
                <tr>
                    <td id="verticalText">
                        <a href="/{{matricule}}">sommaire</a>
                    </td>
                </tr>
            </table>
        </div>
</body>

</html>