<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title name='date_du_jour'>Feuille de temps - Mois</title>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/logo2.png" />
</head>

<body id="bodyMois">
    <div id="logo">
        Coopérative de solidarité</dv>
        <div>
            <h1>Feuille de temps</h1>
        </div>
        <div>
            <table>
                <tr>
                    <td>
                        <a id='matricule' href="/{{matricule}}">matricule : #{{ matricule }}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a id='deconnexion' href="/">déconnexion</a>
                    </td>
                </tr>
            </table>
        </div>
        <div id="tableStyle">
            <a id='buttonL' href="/{{matricule}}/overview/{{mois}}/reculer">
                <img src="/static/flecheG.png" title="Mois précédent">
            </a>
            <a id='buttonR' href="/{{matricule}}/overview/{{mois}}/avancer">
                <img src="/static/flecheD.png" title="Mois suivant">
            </a>
        </div>
        <div>
            <table>
                <tr>
                    <td id='chiffre' colspan=5>
                        <h3 id='month'>{{ month }} &nbsp; {{year}}</h3>
                    </td>
                    <td id='chiffre'> </td>
                    <td id='chiffre'> </td>
                </tr>
            </table>
        </div>
        <table id="tableStyle2">
            <tr>
                <th id='jour'> Dim </th>
                <th id='jour'> Lun </th>
                <th id='jour'> Mar </th>
                <th id='jour'> Mer </th>
                <th id='jour'> Jeu </th>
                <th id='jour'> Ven </th>
                <th id='jour'> Sam </th>
            </tr>
            <tr>
                <td name='date' id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[0]}}">{{calendar[0]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[1]}}">{{calendar[1]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[2]}}">{{calendar[2]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[3]}}">{{calendar[3]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[4]}}">{{calendar[4]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[5]}}">{{calendar[5]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[6]}}">{{calendar[6]}}</a>
                </td>
            </tr>
            <tr>
                <td id='hour'> {{hours[0]}} </td>
                <td id='hour'> {{hours[1]}} </td>
                <td id='hour'> {{hours[2]}} </td>
                <td id='hour'> {{hours[3]}} </td>
                <td id='hour'> {{hours[4]}} </td>
                <td id='hour'> {{hours[5]}} </td>
                <td id='hour'> {{hours[6]}} </td>
            </tr>
            <tr>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[7]}}">{{calendar[7]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[8]}}">{{calendar[8]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[9]}}">{{calendar[9]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[10]}}">{{calendar[10]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[11]}}">{{calendar[11]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[12]}}">{{calendar[12]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[13]}}">{{calendar[13]}}</a>
                </td>
            </tr>
            <tr>
                <td id='hour'> {{hours[7]}} </td>
                <td id='hour'> {{hours[8]}} </td>
                <td id='hour'> {{hours[9]}} </td>
                <td id='hour'> {{hours[10]}} </td>
                <td id='hour'> {{hours[11]}} </td>
                <td id='hour'> {{hours[12]}} </td>
                <td id='hour'> {{hours[13]}} </td>
            </tr>
            <tr>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[14]}}">{{calendar[14]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[15]}}">{{calendar[15]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[16]}}">{{calendar[16]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[17]}}">{{calendar[17]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[18]}}">{{calendar[18]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[19]}}">{{calendar[19]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[20]}}">{{calendar[20]}}</a>
                </td>
            </tr>
            <tr>
                <td id='hour'> {{hours[14]}} </td>
                <td id='hour'> {{hours[15]}} </td>
                <td id='hour'> {{hours[16]}} </td>
                <td id='hour'> {{hours[17]}} </td>
                <td id='hour'> {{hours[18]}} </td>
                <td id='hour'> {{hours[19]}} </td>
                <td id='hour'> {{hours[20]}} </td>
            </tr>
            <tr>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[21]}}">{{calendar[21]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[22]}}">{{calendar[22]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[23]}}">{{calendar[23]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[24]}}">{{calendar[24]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[25]}}">{{calendar[25]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[26]}}">{{calendar[26]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[27]}}">{{calendar[27]}}</a>
                </td>
            </tr>
            <tr>
                <td id='hour'> {{hours[21]}} </td>
                <td id='hour'> {{hours[22]}} </td>
                <td id='hour'> {{hours[23]}} </td>
                <td id='hour'> {{hours[24]}} </td>
                <td id='hour'> {{hours[25]}} </td>
                <td id='hour'> {{hours[26]}} </td>
                <td id='hour'> {{hours[27]}} </td>
            </tr>
            <tr>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[28]}}">{{calendar[28]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[29]}}">{{calendar[29]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[30]}}">{{calendar[30]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[31]}}">{{calendar[31]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[32]}}">{{calendar[32]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[33]}}">{{calendar[33]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[34]}}">{{calendar[34]}}</a>
                </td>
            </tr>
            <tr>
                <td id='hour'> {{hours[28]}} </td>
                <td id='hour'> {{hours[29]}} </td>
                <td id='hour'> {{hours[30]}} </td>
                <td id='hour'> {{hours[31]}} </td>
                <td id='hour'> {{hours[32]}} </td>
                <td id='hour'> {{hours[33]}} </td>
                <td id='hour'> {{hours[34]}} </td>
            </tr>
            <tr>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[35]}}">{{calendar[35]}}</a>
                </td>
                <td id='chiffre'>
                    <a href="/{{matricule}}/{{mois}}-{{calendar[36]}}">{{calendar[36]}}</a>
                </td>
                <td id='chiffre' colspan=5> </td>
            </tr>
            <tr>
                <td id='hour'> {{hours[35]}} </td>
                <td id='hour'> {{hours[36]}} </td>
                <td id='hour' colspan=5> </td>
            </tr>
        </table>
    </div>
    <div>
        <table id='totalTable'>
            <tr>
                <td colspan=4> </td>
                <td id='total' colspan=3> total:&nbsp;{{total}} </td>
            </tr>
        </table>
    </div>
    <div id="tableSections">
        <table>
            <tr>
                <td id="verticalText">
                    <a href="/{{matricule}}/{{mois}}-01">journalier</a>
                </td>
            </tr>
            <tr>
                <td id="verticalText">
                    <a href="/{{matricule}}/overview/{{mois}}">mensuel</a>
                </td>
            </tr>
            <tr>
                <td id="verticalText">
                    <a href="/{{matricule}}">sommaire</a>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>